# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build artifacts
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# IDE-specific files
.DS_Store
*.iml

# dotenv environment variables file
.env

# Local environment files
.env.*.local

# Environments which should never be version controlled
*.env.*
*.js

